.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    padding: 0.5rem;
    background-color: #ffa800;
    position: relative;
    z-index: 1000;
    transition: background-color 0.3s ease, opacity 0.3s ease;
}

.navbar div {
    display: flex;
    align-items: center;
}

.navbar a:hover {
    text-decoration: underline;
}

.navbar.scrolled {
    position: fixed;
    width: 100%;
    top: 0;
}

.navbar:hover {
    opacity: 1;
}

.navbar a {
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
    text-align: center;
    font-family: "Arial";
    font-weight: bold;
    margin: 0 1rem;
    font-size: 15px;
}

.logoNavbar {
    width: 50px;
    height: 50px;
    margin: 15px;
    background-color: #000000;
    border-radius: 50%;
}

.menu-icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

/* Menu principal */
.menu {
    display: flex;
    gap: 1rem;
}

@media (max-width: 768px) {
    body{
        overflow: none;
    }
    .navbar {
        display: flex;
        justify-content: space-around;
    }

    .blockText{
        display: none;
    }

    .menu {
        display: none; 
        flex-direction: column;
        width: 100%;
        background-color: #ffa800; 
    }

    .menu.open {
        display: flex;
        position: relative;
        bottom: -8.2rem;
        left: 0px;
        flex-direction: column;
        border-radius: 0px 0px 12px 12px;
        transform: translateY(0);
        transition: 1.5s;
        border: #000000 solid 2px;
        border-top: none;
    }

    .menu.off {
        display: none; 
        transform: translateY(-100%);
        transition: 1.5s;
    }

    .navbar a {
        margin: 1rem 0; 
    }

    .menu-icon {
        display: block; 
        margin: 1.5rem;
    }

}
