.linguagens {
    display: flex;
    justify-content: space-between;
    align-items: end;
    position: relative;
    gap: 0.2rem; 
    padding: 1rem; 
}

.habilidade {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 250px;
    width: 2rem;
    padding: 0.5rem;
    margin: 0.5rem;
    border: #ffa800 solid 2px;
    background-color: #000000; 
    border-radius: 8px;
    position: relative;
}

.habilidade p {
    text-align: start;
    margin: 0;
    color: #000000; 
    z-index: 100;
}

.aprendizado {
    width: 100%; 
    background-color: #ffa800; 
    position: absolute;
    bottom: 0;
    left: 0;
}

.habilidade p:last-child {
    margin-top: 0.5rem;
    font-size: 0.9rem;
    color: #ffffff;
    margin-left: 7.5rem;
    font-style: italic;
}

@media (max-width: 768px) {
    .habilidade {
        height: 200px;
        width: 60px; 
        padding: 0.3rem;
        margin: 0.5rem 0; 
    }

    .habilidade p {
        font-size: 14px;
    }

    .aprendizado + p {
        height: 1rem;
        margin-top: 0.4rem;
        margin-bottom: 0.2rem;
    }

    .habilidade p:last-child {
        font-size: 14px;
        margin-left: 0rem;
        margin-bottom: -1.5rem; 
    }
}

@media (max-width: 480px) {
    .linguagens {
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
    }

    .habilidade {
        height: 150px;
        width: calc(50% - 1rem); 
        padding: 0.2rem;
        margin: 0.3rem 0; 
    }

    .habilidade p {
        font-size: 12px;
    }

    .habilidade p:last-child {
        font-size: 12px;
        margin-bottom: -0.1rem;
    }
}
