.perfilConfig{
  display: inline-block;
  margin-right: 8rem;
}
.logosContatos{
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
.perfilFoto{
  height: 20em;
  padding: 1.5em;
  border-radius: 3rem;
}
.logo {
  height: 0.9em;
  padding: 1em;
}
.container{
  display: flex;
  justify-content: center;
  padding: 8rem;
}

@media  (max-width: 500px) {
  .container{
    display: block;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }
  .perfilConfig{
    display:grid;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-right: 0rem;
  }
  .logosContatos{
    justify-content: space-evenly;
  }
}